.topnav {
  background-color: pink;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.topnav div {
  background-color: yellow;
}
