/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/components/styles.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.styles_topnav__AbHeC {
  background-color: pink;
  display: flex;
  flex-direction: row-reverse;
  animation: styles_fadeIn__8OO0P 5s;
}
@keyframes styles_fadeIn__8OO0P {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.styles_topnav__AbHeC div {
  background-color: yellow;
}

