/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/components/top-nav/styles.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.styles_topnav__04xkx {
  background-color: pink;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  animation: styles_fadeIn__5ez8L 5s;
}
@keyframes styles_fadeIn__5ez8L {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.styles_topnav__04xkx div {
  background-color: yellow;
}

